    <template>
    <lightning-card title="My first web component" icon-name="custom:custom14">
        <!--<div class="slds-m-around_medium">
            <lightning-input type="search" onchange={handleKeyChange} class="slds-m-bottom_small" label="Search" value={searchKey}></lightning-input>
        </div>-->
        <div class="slds-m-around_medium">
            <template if:true={contact.data}>
                <lightning-datatable
                    key-field="Id"
                    data={contact.data}
                    columns={columns}
                    onsave={handleSave}
                    draft-values={draftValues}>
                </lightning-datatable>
            </template>
            <template if:true={contact.error}>
                <!-- handle Apex error -->
            </template>
        </div>
        <!-- Load record con layout predefinito
            <div class="slds-m-around_medium">
            <lightning-record-form record-id={recordId} object-api-name="Account" layout-type="Compact" mode="view">
            </lightning-record-form>
        </div> -->
        <!-- Load record con un layout custom 
            <div class="slds-m-around_medium">
            <lightning-record-view-form record-id={recordId} object-api-name="Account" mode="view">
                <div class="slds-grid">
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-output-field field-name="Name"></lightning-output-field>
                        <lightning-output-field field-name="Phone"></lightning-output-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-output-field field-name="Industry"></lightning-output-field>
                        <lightning-output-field field-name="AnnualRevenue"></lightning-output-field>
                    </div>
                </div>
            </lightning-record-view-form>
        </div> -->
        <!--Load record con user interface custom
            <div class="slds-m-arount_medium">
            <lightning-record-view-form record-id={recordId} object-api-name={accountObject}>
                <div class="slds-grid">
                    <div class="slds-col slds-size_1-of-2">
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-formatted-text value={nameValue} class="slds-text-heading_large">
                        </lightning-formatted-text>
                    </div>
                </div>
            </lightning-record-view-form>
        </div>-->
    </lightning-card>
</template>